
#%info%#

<span class="text13blue"><b>Please Log In</b></span><br><br>

<table border="0" width="200" cellspacing="2" cellpadding="4" class="table1">
<form action="subscribe.php" method="post" name="add">
<input type="hidden" name="action" value="login">
<TR>
  <TD noWrap align="left"><span class="text13">Username </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="15" size="15"  name="username" value="#%username%#"></TD></TR>
<TR>
  <TD noWrap align="left"><span class="text13">Password </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="15" size="15"  name="password" type="password" value="#%password%#"></TD></TR>
<TR>
  <TD align="center" colspan=2><INPUT type="submit" value="Submit" name="B1" class="button1"></TD></TR>
</FORM></TABLE></td></tr></table>

<br><br></center></div>
