
#%info%#

<table cellspacing="0" cellpadding="3" border=0 width="500"><tr>
<td align="center" valign="top">

<span class="text13blue"><b>Join Our Newsletter Mailing List</b></span><br><br>

<table border="0" cellspacing="0" cellpadding="5" width="100%" class="table1"><tbody>
<tr><td align="center">
<TABLE cellSpacing=0 cellPadding=2 border=0>
<form action="subscribe.php" method="post" name="add">
<input type="hidden" name="action" value="regconfirm">
<TR>
  <TD noWrap align="left"><span class="text13">Username: </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="15" size="15"  name="username" value="#%username%#"></TD></TR>
<TR>
  <TD noWrap align="left"><span class="text13">Password: </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="15" size="15"  name="password" value="#%password%#"></TD></TR>
<TR>
  <TD noWrap align="left"><span class="text13">Your name: </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="100" size="60" name="name" value="#%name%#"></TD></TR>
<TR>
  <TD noWrap align="left"><span class="text13">Email: </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="100" size="60"  name="email" value="#%email%#"></TD></TR>
<TR>
  <TD align="center" colspan=3><INPUT type="submit" value="Submit" name="B1" class="button1"></TD></TR>
</FORM></TABLE></td></tr></table>
<br>
<a href="subscribe.php?action=login">Click here to edit your account or unsubscribe</a><br>
</td></tr></table>
<br><br></center></div>

