
<table cellspacing="0" cellpadding="3" border=0 width="500"><tr>
<td align="center" valign="top">

<table border="0" cellspacing="1" cellpadding="7" width="100%" class="table1">
<TR><TD align="center" colspan=2>
<span class="text13blue"><b>Thank you for joining.</b></span><br><br>
<span class="text13">Your account has been confirmed. You can modify your account at any time by going <a href="subscribe.php?action=login">here</a>.</span>
</td></tr></table>

</td></tr></table>
<br><br></center></div>

