
<span class="text13blue"><b>Thank You for Joining!</b></span><br><br>
<span class="text13">Now please check your email for confirmation email.<br>You will need to go to the link in the email to confirm your submission.</span><br><br>

<table cellspacing="0" cellpadding="5" border=0 width="500" class="table1"><tr>
<td align="center" valign="top">
<table border="0" cellspacing="0" cellpadding="2" width="400">
<TR><TD align="center" colspan=2><span class="text13blue">Your Details</span></td></tr>
<TR>
  <TD nowrap align="left" valign="top"><span class="text13">Username: </span></TD>
  <TD align="left"><span class="text13">#%username%#</span></TD></TR>
<TR>
  <TD nowrap align="left" valign="top"><span class="text13">Password: </span></TD>
  <TD nowrap align="left"><span class="text13">#%password%#</span></TD></TR>
<TR>
  <TD nowrap align="left" valign="top"><span class="text13">Email: </span></TD>
  <TD nowrap align="left"><span class="text13">#%email%#</span></TD></TR>
<TR>
  <TD nowrap align="left" valign="top"><span class="text13">Name: </span></TD>
  <TD nowrap align="left"><span class="text13">#%name%#</span></TD></TR>
</table>

</td></tr></table>
<br><br></center></div>

